#robo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 419px;
  height: 125px;
  left: calc(50% - 419px / 2 - 624.5px);
  top: 294px;
}

#robo1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 419px;
  height: 93px;
  left: calc(50% - 419px / 2 - 197.5px);
  top: 294px;
}
#agwera1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 846px;
  height: 224px;
  left: calc(50% - 846px / 2 - 411px);
  top: 405px;
}
#bord1 {
  position: absolute;
  width: 798px;
  height: 0px;
  left: 150px;
  top: 674px;

  border: 1px solid #c1c1c1;
}
#extra1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  border-style: none;

  position: absolute;
  width: 289px;
  height: 48px;
  left: calc(50% - 289px / 2 - 665.5px);
  top: 719px;

  background: #62a1eb;
  border-radius: 4px;
}
#dro {
  box-sizing: border-box;

  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding: 12px 20px;
}

option:first-child {
  display: none;
}
#fonter1 {
  width: 81px;
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.08em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
}
